// overwrite - tabs
.tabs-component {
  &-tabs {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #444444;
    padding: 0 1rem;
    gap: 1rem;

    .nav-item {
      padding: 1rem 0;
      font-size: 1.1rem;
      letter-spacing: 1px;

      &::marker {
        content: none;
      }

      &.is-active {
        border-bottom: 2px solid #444444;
        font-weight: bold;
      }

      &.is-inactive a {
        color: darken($color: #f2f2f2, $amount: 20);
      }

      &:hover {
        cursor: pointer;
        opacity: 0.75;
      }

      &.is-disabled a {
        color: #444444;
        &:hover {
          opacity: 1;
          cursor: not-allowed;
        }
      }

      a {
        color: #f2f2f2;
        text-decoration: none;
      }
    }
  }
}
